<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{72,74}</string>
                <key>textureRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,74}</string>
                <key>spriteSourceSize</key>
                <string>{73,74}</string>
                <key>textureRect</key>
                <string>{{651,0},{73,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{72,74}</string>
                <key>textureRect</key>
                <string>{{724,0},{72,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,74}</string>
                <key>spriteSourceSize</key>
                <string>{73,74}</string>
                <key>textureRect</key>
                <string>{{72,0},{73,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{72,74}</string>
                <key>textureRect</key>
                <string>{{145,0},{72,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{72,74}</string>
                <key>textureRect</key>
                <string>{{217,0},{72,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,74}</string>
                <key>spriteSourceSize</key>
                <string>{73,74}</string>
                <key>textureRect</key>
                <string>{{289,0},{73,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{72,74}</string>
                <key>textureRect</key>
                <string>{{362,0},{72,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,74}</string>
                <key>spriteSourceSize</key>
                <string>{73,74}</string>
                <key>textureRect</key>
                <string>{{434,0},{73,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{72,74}</string>
                <key>textureRect</key>
                <string>{{507,0},{72,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{72,74}</string>
                <key>textureRect</key>
                <string>{{579,0},{72,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>blink.png</string>
            <key>size</key>
            <string>{796,74}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:472f0b34b23d069daca212a95f8d1a6f:d6ecdb2bd4002cdaff8b7d4c9c233f61:dfbe35968ea457596744a80a6152904b$</string>
            <key>textureFileName</key>
            <string>blink.png</string>
        </dict>
    </dict>
</plist>
